#frame {
  cursor: pointer;
  width: 1000px;
  height: 700px;
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 30px;
  color: darkgreen;
}

.start-button {
  width: 200px;
  height: 35px;
  background: gray;
  border-radius: 5px;
  border: 1px solid rgb(200,255,0);
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.message-button-wrap {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.current-word {
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgreen;
}



@media screen and (max-width: 600px) and (orientation: portrait){
  .wrap {
    width: 100vw;
    height: 100vh;
  }
  #frame {
    width: 100vw;
    height: 80vh;
  }
  .current-word {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
  }
  .info-wrap-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    left: 0px;
    box-sizing: border-box;
    background: rgba(133,133,133,0.95);
    z-index: 2;
    font-size: 1.3em;
  }
  .info-wrap-mobile div {
    width: 100vw;
    height:5vh;
    transition: none;
  }
  .info-wrap-mobile-down {
    bottom: -6vh;
    transition: all 0.6s ease-out;
  }
  .info-wrap-mobile-up {
    bottom: 0;
    transition: all 0.6s ease-out;
  }
  .start-button {
    width: 80vw;
  }
  .message-button-wrap{
    width: 100vw;
  }
  .message-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }

@media only screen and (max-width: 600px) and (orientation: landscape){
  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #frame {
    width: 90vw;
    height: 75vh;
  }
  .current-word {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
  }
  .message-wrap {
    width: 40vw;
  }
  .info-wrap-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    box-sizing: border-box;
    background: rgba(133,133,133,0.8);
    font-size: 22px !important;
  }
  .start-button {
    width: 35vw;
    height: 30px;
  }
  .message-wrap {
    width: 40vw;
  }
  .message-button-wrap{
    width: 80vw;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) and (max-width: 768px){
  .wrap {
    width: 100vw;
    height: 100vh;
  }
  #frame {
    width: 100vw;
    height: 80vh;
  }
  .current-word {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
  }
  .info-wrap-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    left: 0px;
    box-sizing: border-box;
    background: rgba(133,133,133,0.95);
    z-index: 2;
    font-size: 2em;
  }
  .info-wrap-mobile div {
    width: 100vw;
    height:5vh;
    transition: none;
  }
  .info-wrap-mobile-down {
    bottom: -6vh;
    transition: all 0.6s ease-out;
  }
  .info-wrap-mobile-up {
    bottom: 0;
    transition: all 0.6s ease-out;
  }
  .start-button {
    width: 80vw;
  }
  .message-button-wrap{
    width: 100vw;
  }
  .message-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) and (orientation: landscape) and (max-width: 768px){
  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #frame {
    width: 90vw;
    height: 80vh;
  }
  .current-word {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
  }
  .info-wrap-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
    z-index: 2;
    font-size: 1.7em;
  }
  .info-wrap-mobile div {
    width: 80vw;
    height:10vh;
    transition: none;
  }
  .start-button {
    width: 80vw;
  }
  .message-button-wrap{
    width: 100vw;
  }
  .message-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #frame {
    width: 95vw;
    height: 70vh;
  }
  .info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
    z-index: 2;
    font-size: 2em;
  }
}
